aiofiles
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
annotated-types
anyio
asyncio
attrs
bcrypt
beautifulsoup4
bidict
blinker
Brotli
cachetools
certifi
cffi
charset-normalizer
click
colorama
compress
config
contourpy
Crawl4AI
cryptography
cycler
distro
dnspython
docstring_parser
eventlet
fake-http-header
fastapi
filelock
Flask
Flask-Compress
Flask-Cors
Flask-SocketIO
fonttools
frozendict
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
googlesearch-python
greenlet
groq
grpcio
grpcio-status
h11
html5lib
httpcore
httplib2
httpx
huggingface-hub
idna
importlib_metadata
inflection
iniconfig
itsdangerous
Jinja2
jiter
joblib
jsonref
jsonschema
jsonschema-specifications
kiwisolver
lxml
markdown-it-py
MarkupSafe
matplotlib
mdurl
mockito
multidict
multitasking
nltk
numpy
packaging
pandas
paramiko
peewee
pillow
platformdirs
playwright
pluggy
primp
propcache
proto-plus
protobuf
psutil
pyasn1
pyasn1_modules
pycountry
pycparser
pydantic
pydantic-settings
pydantic_core
pyee
pygame
Pygments
PyNaCl
pyOpenSSL
pyparsing
pyperclip
PyQt6
PyQt6-Qt6
PyQt6_sip
Pysher
pytest
pytest-mockito
python-dateutil 
python-dotenv
python-engineio
python-socketio
pytz
PyYAML
rank-bm25
RapidFuzz
referencing
regex
requests
rich
rpds-py
rsa
semver
sentry-sdk
shellingham
simple-websocket
six
smmap
sniffio
snowballstemmer
soupsieve
SQLAlchemy
starlette
tf-playwright-stealth
tiktoken
tokenizers
tomli
tqdm
typer
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
webencodings
websocket-client
websockets
Werkzeug
wsproto
xxhash
yarl
yfinance
zipp
zstandard
google-genai==1.32.0
agno==2.0.5
Flask
Flask-SocketIO
eventlet
gunicorn
supabase
psycopg2-binary
sqlalchemy
gotrue
googlesearch-python 
pycountry
Authlib
PyGithub
google-api-python-client
google-auth-oauthlib
pypdf
arxiv
wikipedia
redis
celery
flower
trafilatura
youtube_transcript_api